.place__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    font-style: normal;
    min-width: 320px;
    max-width: 460px;
    text-align: left;
    margin: 0;
    grid-area: title;
}

@media screen and (max-width:680px) {
    .place__title {
        font-size: 32px;
        font-weight: 900;
        line-height: 35px;
        font-style: normal;
        max-width: 288px;
        text-align: left;
        margin: 0;
        grid-area: title;
    }
}