.photo-grid {
    max-width: 1184px;
    margin: 118px auto 0;
    /*padding: 0 16px;*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
    grid-gap: 16px;
    justify-content: center;
    /* align centre */
}