.place__artist-label {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 0;
}

@media screen and (max-width:320px) {
    .place__artist-label {
        width: 288px;
        margin: 0 auto 0;
    }
}