.artist__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    width: 50px;
    color: #AAAAAA;
    margin: 0;
}

@media screen and (max-width:680px) {
    .artist__label {
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        letter-spacing: 12%;
        text-transform: uppercase;
        color: #AAAAAA;
        margin: 0;
    }
}