.group__buy-tickets {
    background: #0278FE;
    border-radius: 4px;
    width: 137px;
    height: 48px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    border-style: none;
    margin-top: 32px;
}

.group__buy-tickets:hover {
    cursor: pointer;
    background: #0063D2;
}

@media screen and (max-width:680px) {
    .group__buy-tickets {
        margin-top: 16px;
    }
}