.cover {
    background: url(../../images/footer__background.jpg)no-repeat center;
    width: 100%;
    max-width: 1184px;
    margin: 44px auto 0;
    /* 92px - 48px = 44px */
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 0;
}

.cover:hover .cover__overlay {
    opacity: 0.8;
}

@media screen and (max-width:1184) {
    .cover {
        max-width: 100%;
    }
}

@media screen and (max-width:768px) {
    .cover {
        max-height: 746px;
    }
}

@media screen and (max-width:680px) {
    .cover {
        margin: 34px auto 0;
        /* 64px - 30px = 34px */
    }
}

@media screen and (max-width:320px) {
    .cover {
        max-height: 254px;
    }
}