.place__photo {
    width: 100%;
    grid-area: photo;
    box-sizing: border-box;
    object-fit: scale-down;
}

@media screen and (max-width:372px) {
    .place__photo {
        max-width: 100%;
    }
}