.place {
    display: grid;
    grid-template-columns: 115fr 10fr 121fr;
    grid-template-areas: "title . ." "title . artist-tag" "title . artist-name" "photo . paragraph" "photo . paragraph" "buy-NFT . paragraph";
    row-gap: 48px;
    column-gap: 40px;
    margin: 80px auto 0;
}