.place__artist-name {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width:372px) {
    .place__artist-name {
        max-width: 93.75%
    }
}