.group__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* identical to box height, or 106% */
    text-align: center;
}

@media screen and (max-width:680px) {
    .group__title {
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 32px;
        line-height: 35px;
        text-align: center;
    }
}